@import '../../styles/colors.css';

.productOptions {
  margin: 16px 0;
}

.productOptionsContainer {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.productOption {
  border: 1px solid var(--light-gray-2);
  background: var(--white);
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.productOptionsShape--square .productOption {
  width: 46px;
  height: 46px;
  border-radius: var(--product-options-radius, 4px);
}

.productOptionsShape--circle .productOption {
  width: 31px;
  height: 31px;
  border-radius: 50%;
}

.productOption.selected {
  border-color: var(--primary);
  border-width: 2px;
}

.productOption:hover:not(.selected) {
  border-color: var(--light-gray);
}

.productOptionText {
  font-size: 24px;
  color: var(--dark-gray-2);
  font-weight: 600;
}
